<?xml version="1.0"?>
<configuration>

  <configSections>
    <section name="CustomConfigurationSection" type="NetCoreStack.Wcf.Client.CustomConfigurationSection, NetCoreStack.Wcf.Client"/>
  </configSections>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
    <add key="DefaultEndpointBaseUrl" value="http://localhost:8181/"/>
    <add key="DefaultBindingType" value="BasicHttpBinding"/>
    <add key="DefaultBindingConfigurationName" value="DefaultBasicHttpBinding"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1"/>
    <httpRuntime targetFramework="4.6.1"/>
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https"/>
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
    <bindings>
      <basicHttpBinding>
        <binding name="DefaultBasicHttpBinding" closeTimeout="10:00:00" openTimeout="01:00:00" receiveTimeout="10:00:00" sendTimeout="01:00:00" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647"/>
        <binding name="wsBasicHizmet" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647"/>
      </basicHttpBinding>
      <netTcpBinding>
        <binding name="DefaultNetTcpBinding" closeTimeout="10:00:00" openTimeout="01:00:00" receiveTimeout="10:00:00" sendTimeout="01:00:00" maxBufferSize="2147483647" maxConnections="1000" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
          <security mode="None">
            <transport clientCredentialType="None" protectionLevel="None"/>
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>
  <CustomConfigurationSection>
    <ServiceEndPointSettings>
      <EndPoint Name="NetCoreStack.Wcf.Contracts.ITcpService" BaseAddress="net.tcp://localhost:8181/TcpService.svc" Binding="NetTcpBinding" BindingConfiguration="DefaultNetTcpBinding"/>
      <EndPoint Name="NetCoreStack.Wcf.Contracts.IGuidelineService" BaseAddress="http://localhost:8181/GuidelineService.svc" Binding="BasicHttpBinding" BindingConfiguration="DefaultBasicHttpBinding"/>
    </ServiceEndPointSettings>
  </CustomConfigurationSection>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
